body {
    background-color: #ffffff !important;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='635' height='76.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23dedede' stroke-width='10.2' stroke-opacity='0.2'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E") !important;
}

.mcard {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px !important;
}

.mcard .card-header {
    font-weight: bold;
    background-color: transparent;
    color: #4a4a4a !important;
}

.btn-grey {
    background-color: #2e2e2e !important;
    color: #ffffff !important;
}

.btn-grey:hover {
    background-color: #454545 !important;
}

.list {
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.important {
    background-color: #ffe0d9 !important;
}

.important:hover {
    background-color: #ffb0a3 !important;
}

.done {
    text-decoration: line-through;
    background-color: #c9ffcf !important;
}

.done:hover {
    background-color: #c9ffcf !important;
}
